<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DeclarativeDataDisplayWhidbey.Properties.Settings.NorthwindConnection" connectionString="Server=BACH;User ID=sa;Password=oWenmEany;Database=Northwind;Persist Security Info=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>